@import 'tailwindcss';

:root {
  --color-primary: #1e40af;

  --color-secondary: #f59e0b;

  --color-dark: #111827;

  --color-light: #f9fafb;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-dark);

  background: var(--color-light);
}

.font-english {
  font-family: Inter, sans-serif;
}

.font-telugu {
  font-family: 'Noto Sans Telugu', sans-serif;
}
